In [30]:
import pandas as pd

pro = pd.read_csv("Products.csv")

pro

,Chips,Cooldrinks,Chocolates,Pies,Fruit,Cupcakes,Veggies,Pasta,Meats,Sweets
0,Lays,Fanta,Tex,Chicken,Apple,Chocolate,Cabbage,Barilla,Dakota Beef,Skittles
1,Simba,Coke,Cadbury,Pepper Steak,Pear,Vanilla,Spinach,Ronzoni,Lafleur,KitKat